{% extends "base.html" %}

{% block content %}
    <header class="page-header">
        <h1>Facebook Page Header</h1>
    </header>
    <div class="content">
        <p>Upload a Facebook Post Level CSV export file.</p>
        <div class="form-wrapper">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="id_client">Client Name</label>
                    <input type="text" id="id_client" name="client"/>
                </div>

                <div class="form-group">
                    <label for="id_data_file">CSV Data File</label>
                    <input type="file" id="id_data_file" name="data_file"/>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
