{% extends "one_column_layout_base.html" %}

{% block content %}
{% load humanize %}
    <h2>Protoype Social Media Report Generator.</h2>
    <p>
        Upload analytics data files from sites like Facebook, Twitter, Pinterest, and get formated reports for clients.
    </p>
    <h3>Test Data</h3>
    {% comment %}
    <dl class="data-set-list">
    {% for d in data %}
        <dt>{{d.title}}
            <span class="name">{{d.name}}</span>
        </dt>
        <dd>{{d.description}}</dd>
    {% endfor %}
    </dl>
    {% endcomment %}
    <div id="engage-chart"></div>

    <h4>Total Reach</h4>
    <table>
        <thead>
            <tr><th>Date</th><th>Value</th></tr>
        </thead>
        <tbody>
    {% for i in data.page_impressions_unique %}
        <tr>
        <td>{{i.date|date:"m/d/Y"}}</td><td>{{i.value|intcomma}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}

 {% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'js/c3.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/c3.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
 {% endblock extra_head %}

 {% block extra_js %}
    <script>
        var chart = c3.generate({
            bindto: '#engage-chart',
            data: {
                x: 'date',
                xFormat: '%m/%d/%Y',
                columns: [
                    {{chart_labels|safe}},
                    {{data|safe}},
                ]
            },
            point: {
                show: false
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%m/%d/%Y'
                    }
                },
                y: {
                    tick: {
                        format: d3.format(',')
                    }
                }
            }
        });
    </script>
 {% endblock extra_js %}
